header {
	font-size: 35px;	
	text-align: center;
	color: blue;
	border-bottom: 2px solid black;
	padding: 0em;
	border-bottom-left-radius: .7em;
	border-bottom-right-radius: .7em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
body {
	border-bottom: 2px solid black;
	padding: .2em;
	border-bottom-left-radius: .7em;
	border-bottom-right-radius: .7em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	
	color: white;
	font-size: 25px;
	background-image: url('../photos/wood.jpg')

#image1 {
	background-image: url("../photos/Select.jpg")
#image1:hover {
	background-image: url("../photos/GIF.PNG")
